* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}


.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.ulContainerCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 75%;
    list-style-type: none;
}

.listnotcarrt {
   
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  gap: 2;
    align-items: center;
}
.img {
    height: 30vh;
}

.re {
    height: 13vh;
    border-radius: 13px;
    width: 11vw;
}
.listCartc {
    height: 15vh;
    padding: 13px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.totalAmount {
    color: orangered;
    font-weight: bold;
    font-size: 22px;
}