* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}

.containerulcartlist {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     padding: 15px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.imgcartlist {
    height: 15vh;
    width: 10vw;
    border-radius: 10px;
}

.paralistcart {
    font-family: Roboto;
    font-size: 17px;
    text-align: center;

}
.buttonadd  {
    background-color: orangered;
    border-color: orangered;
    color: white;
    height: 5vh;
    width: 5vw;
}



.pa {
    color: orange;
     font-family: Roboto;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgcartlist:hover {
   transform: scale(1.2);
}
