* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}


.homecont {
    height: 100vh;
    width: 100%;
}



.homeconimage {
    margin: 0%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    width: 100%;
     background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-image: url("https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/ix0mifgcpywoaeptbjh3");
}

.headingposter1 {
  z-index: 2;
  color: orange;
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
   font-family: "Lucida Handwriting", cursive;
}       

.homeconimage::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);  
    z-index: 1;
}

.paraposter1 {
   z-index: 2;
  color: orange;
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
   font-family: "Lucida Handwriting", cursive;
}

.paraposter2 {
   z-index: 2;
  color: orange;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
   font-family: Georgia;
}

.buttonordernow {
    color: white;
    background-color: orangered;
    border-color: orangered;
    height: 5vh;
    width: 7vw;
    z-index: 2;
}
.lLink {
    color: white;
    text-decoration: none;
}
.footerContainer {
    height: 54vh;
    width: 100%;
    background-color: rgba(232, 226, 226, 0.878);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.imgfooterheading {
    font-size: 10px;
    color: gray;
}

.imglogoo {
    height: 14vh;
    width: auto;
    margin-left: 10px;
}
.companyrulecontainer {
    height: 43vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;

}
.comhead {
     color: black;
     font-weight: bold;
     font-size: 18px;
}
.list {
    color: gray;
    font-size: 13px;
}
.listsocial {
    color: gray;
    width: 09vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 4vh;
}